<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Criar conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Evofit</h1>
  <p>Cadastre-se como personal trainer</p>

  <ion-item>
    <ion-label position="floating">Nome completo</ion-label>
    <ion-input type="text" [(ngModel)]="nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password" [(ngModel)]="senha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirmar senha</ion-label>
    <ion-input type="password" [(ngModel)]="confirmarSenha"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="cadastrar()">
    Criar conta
  </ion-button>

  <ion-button expand="block" fill="clear" (click)="voltarLogin()">
    Já tenho conta
  </ion-button>

  <ion-text color="danger" *ngIf="erro">
    <p>{{ erro }}</p>
  </ion-text>

  <ion-text color="success" *ngIf="sucesso">
    <p>{{ sucesso }}</p>
  </ion-text>
</ion-content>