<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Evofit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="cabecalho">
    <h1>Bem-vindo ao Evofit</h1>

    <p>
      Escolha como deseja acessar o aplicativo.
    </p>
  </div>

  <ion-card
    button
    routerLink="/login"
    [queryParams]="{ tipo: 'personal' }"
  >
    <ion-card-header>
      <ion-card-subtitle>
        Área profissional
      </ion-card-subtitle>

      <ion-card-title>
        Entrar como Personal
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Gerencie alunos, treinos, aulas e acompanhamentos.
    </ion-card-content>
  </ion-card>

  <ion-card
    button
    routerLink="/login"
    [queryParams]="{ tipo: 'aluno' }"
  >
    <ion-card-header>
      <ion-card-subtitle>
        Área do aluno
      </ion-card-subtitle>

      <ion-card-title>
        Entrar como Aluno
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Visualize seus treinos, aulas e histórico.
    </ion-card-content>
  </ion-card>

</ion-content>